// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2019 NXP
 * Copyright 2019-2025 Variscite Ltd.
 */

#include "imx8mm-var-som-symphony-m4.dts"

/ {
	model = "Variscite VAR-SOM-MX8M-MINI on MT376R2V1H0";

	beeper {
		compatible = "gpio-beeper";
		pinctrl-0 = <&pinctrl_beeper>;
		gpios = <&gpio5 3 GPIO_ACTIVE_HIGH>;
	};
	
	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_led>;

		led-0 {
			label = "status1";
			gpios = <&gpio4 28 GPIO_ACTIVE_LOW>;
		};

		led-1 {
			label = "status2";
			gpios = <&gpio1 8 GPIO_ACTIVE_LOW>;
		};
	};
};

&pcie0 {
	status = "disabled";
};

&pcie0_refclk {
	status = "disabled";
};

&extcon_ptn5150 {
	status = "disabled";
};

&ft5x06_ts {
	status = "disabled";
};

&ov5640_mipi1 {
	status = "disabled";
};

&usbotg1 {
	dr_mode = "host";
};

&i2c3 {
	touchscreen@41 {
		compatible = "ilitek,ili251x";
		reg = <0x41>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_extcon>;
		interrupt-parent = <&gpio5>;
		interrupts = <4 IRQ_TYPE_LEVEL_LOW>;
		#reset-gpios = <&gpio2 19 GPIO_ACTIVE_LOW>;
		#touchscreen-size-x;
		#touchscreen-size-y;
		#touchscreen-inverted-x;
		#touchscreen-inverted-y;
		#touchscreen-swapped-x-y;

		wakeup-source;
	};
};

&i2c2 {
	/* DS1337 RTC module */
	mcp_rtc: rtc@6f {
		compatible = "microchip,mcp7941x";
		reg = <0x6f>;
		status = "okay";
	};
};

&panel_lvds {
	compatible = "panel-lvds";
	data-mapping = "vesa-24";
	width-mm = <154>;
	height-mm = <87>;
};

&panel_lvds_timings {
	clock-frequency = <36000000>;
	hactive = <800>;
	vactive = <480>;
	hback-porch = <30>;
	hfront-porch = <30>;
	vback-porch = <29>;
	vfront-porch = <13>;
	hsync-len = <48>;
	vsync-len = <3>;
	hsync-active = <0>;
	vsync-active = <0>;
	de-active = <1>;
	pixelclk-active = <0>;
};

&backlight {
	default-brightness-level = <0>;
};

&iomuxc {
	pinctrl_beeper: beepergrp {
		fsl,pins = <
			MX8MM_IOMUXC_SPDIF_TX_GPIO5_IO3		0x14
		>;
	};
	
	pinctrl_gpio_led: gpioledgrp {
		fsl,pins = <
			MX8MM_IOMUXC_SAI3_RXFS_GPIO4_IO28		0x16
			MX8MM_IOMUXC_GPIO1_IO08_GPIO1_IO8		0x16
		>;
	};
};
